* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Pangolin", cursive;
  background-color: rgb(214, 218, 236);
}

.container {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  background: rgb(255, 83, 83);
}

.container h1 {
  float: left;
  font-size: 3rem;
  margin-left: 10%;
  color: aliceblue;
}

.container ul {
  list-style-type: none;
  font-size: 25px;
  margin-left: 60%;
}

.container li {
  margin-top: 10px;
  float: left;
  padding: 0 20px 0 20px;
}

.container a {
  text-decoration: none;
  color: aliceblue;
}

.current a::after {
  content: "_";
  background-color: aliceblue;
  font-size: 3px;
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: 82% 18%;
}

.equation {
  font-size: 65px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  padding-top: 15%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.equation h1 {
  display: inline;
  padding: 20px;
}

.answer-options {
  font-size: 67px;
  margin-right: 10px;
}

.answer-options h1 {
  cursor: pointer;
  color: azure;
  border-radius: 3px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

#option1 {
  background: rgb(255, 83, 83);
  transition: 1s;
}

#option1:hover {
  color: rgb(255, 83, 83);
  background: white;
}
#option2 {
  background: rgb(47, 171, 193);
  transition: 1s;
}

#option2:hover {
  color: rgb(47, 171, 193);
  background: white;
}

#option3 {
  background: rgb(226, 83, 255);
  transition: 1s;
}

#option3:hover {
  color: rgb(226, 83, 255);
  background: white;
}
